rng/ryffineBookmap.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <include href="../common/ryffineCommonElements.rng"/>
  
  <start>
    <ref name="bookmap"/>
  </start>
  
  <define name="bookmap">
    <element name="bookmap">
      <ref name="id-atts"/>
      <ref name="lang-atts"/>
      <ref name="booktitle"/>
      <ref name="bookmeta"/>
      <ref name="frontmatter"/>
      <oneOrMore>
        <ref name="chapter"/>
      </oneOrMore>
      <optional>
        <choice>
          <oneOrMore>
            <ref name="appendix"/>
          </oneOrMore>
          <ref name="appendices"/>
        </choice>
      </optional>
      <optional>
        <ref name="backmatter"/>
      </optional>
      <optional>
        <ref name="reltable"/>
      </optional>
    </element>
  </define>
  
  <define name="booktitle">
    <element name="booktitle">
      <optional>
        <ref name="booklibrary"/>
      </optional>
      <ref name="mainbooktitle"/>
      <optional>
        <ref name="booktitlealt"/>
      </optional>
    </element>
  </define>
  
  <define name="booklibrary">
    <element name="booklibrary">
      <text/>
    </element>
  </define>
  
  <define name="mainbooktitle">
    <element name="mainbooktitle">
      <text/>
    </element>
  </define>
  
  <define name="booktitlealt">
    <element name="booktitlealt">
      <text/>
    </element>
  </define>
  
  <define name="bookmeta">
    <element name="bookmeta">
      <optional>
        <ref name="authorinformation"/>
      </optional>
      <optional>
        <ref name="publisherinformation"/>
      </optional>
      <optional>
        <ref name="bookid"/>
      </optional>
      <optional>
        <ref name="bookrights"/>
      </optional>
    </element>
  </define>
  
  <define name="authorinformation">
    <element name="authorinformation">
      <ref name="organizationinfo"/>
    </element>
  </define>
  
  <define name="organizationinfo">
    <element name="organizationinfo">
      <optional>
        <ref name="namedetails"/>
      </optional>
      <optional>
        <ref name="addressdetails"/>
      </optional>
      <optional>
        <ref name="contactnumbers"/>
      </optional>
      <optional>
        <ref name="urls"/>
      </optional>
    </element>
  </define>
  
  <define name="namedetails">
    <element name="namedetails">
      <ref name="organizationnamedetails"/>
    </element>
  </define>
  
  <define name="organizationnamedetails">
    <element name="organizationnamedetails">
      <ref name="organizationname"/>
    </element>
  </define>
  
  <define name="organizationname">
    <element name="organizationname">
      <text/>
    </element>
  </define>
  
  <define name="addressdetails">
    <element name="addressdetails">
      <ref name="thoroughfare"/>
      <ref name="locality"/>
      <ref name="administrativearea"/>
      <ref name="country"/>
    </element>
  </define>
  
  <define name="thoroughfare">
    <element name="thoroughfare">
      <text/>
    </element>
  </define>
  
  <define name="locality">
    <element name="locality">
      <ref name="localityname"/>
      <ref name="postalcode"/>
    </element>
  </define>
  
  <define name="localityname">
    <element name="localityname">
      <text/>
    </element>
  </define>
  
  <define name="postalcode">
    <element name="postalcode">
      <text/>
    </element>
  </define>
  
  <define name="administrativearea">
    <element name="administrativearea">
      <text/>
    </element>
  </define>
  
  <define name="country">
    <element name="country">
      <text/>
    </element>
  </define>
  
  <define name="contactnumbers">
    <element name="contactnumbers">
      <oneOrMore>
        <ref name="contactnumber"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="contactnumber">
    <element name="contactnumber">
      <text/>
    </element>
  </define>
  
  <define name="urls">
    <element name="urls">
      <oneOrMore>
        <ref name="url"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="url">
    <element name="url">
      <text/>
    </element>
  </define>
  
  <define name="publisherinformation">
    <element name="publisherinformation">
      <optional>
        <ref name="organization"/>
      </optional>
      <optional>
        <ref name="printlocation"/>
      </optional>
      <optional>
        <ref name="published"/>
      </optional>
    </element>
  </define>
  
  <define name="organization">
    <element name="organization">
      <text/>
    </element>
  </define>
  
  <define name="printlocation">
    <element name="printlocation">
      <text/>
    </element>
  </define>
  
  <define name="published">
    <element name="published">
      <ref name="completed"/>
    </element>
  </define>
  
  <define name="completed">
    <element name="completed">
      <ref name="month"/>
      <ref name="day"/>
      <ref name="year"/>
    </element>
  </define>
  
  <define name="month">
    <element name="month">
      <text/>
    </element>
  </define>
  
  <define name="day">
    <element name="day">
      <text/>
    </element>
  </define>
  
  <define name="year">
    <element name="year">
      <text/>
    </element>
  </define>
  
  <define name="bookid">
    <element name="bookid">
      <optional>
        <ref name="bookpartno"/>
      </optional>
    </element>
  </define>
  
  <define name="bookpartno">
    <element name="bookpartno">
      <text/>
    </element>
  </define>
  
  <define name="bookrights">
    <element name="bookrights">
      <ref name="copyrfirst"/>
      <optional>
        <ref name="copyrlast"/>
      </optional>
      <ref name="bookowner"/>
      <optional>
        <ref name="bookrestriction"/>
      </optional>
    </element>
  </define>
  
  <define name="copyrfirst">
    <element name="copyrfirst">
      <ref name="year"/>
    </element>
  </define>
  
  <define name="copyrlast">
    <element name="copyrlast">
      <ref name="year"/>
    </element>
  </define>
  
  <define name="bookowner">
    <element name="bookowner">
      <ref name="organization"/>
    </element>
  </define>
  
  <define name="bookrestriction">
    <element name="bookrestriction">
      <attribute name="type">
        <choice>
          <value>AllRightsReserved</value>
        </choice>
      </attribute>
    </element>
  </define>

  <define name="appendices">
    <element name="appendices">
      <!-- Add id-atts, lang-atts if needed -->
      <optional><ref name="topicmeta"/></optional> <!-- Common for grouping elements -->
      <oneOrMore>
        <ref name="appendix"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="frontmatter">
    <element name="frontmatter">
      <optional>
        <ref name="notices"/>
      </optional>
      <optional>
        <ref name="preface"/>
      </optional>
      <optional>
        <ref name="booklists"/>
      </optional>
    </element>
  </define>
  
  <define name="notices">
    <element name="notices">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="toc">
          <value>no</value>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="booklists">
    <element name="booklists">
      <optional>
        <ref name="toc"/>
      </optional>
      <optional>
        <ref name="figurelist"/>
      </optional>
      <optional>
        <ref name="tablelist"/>
      </optional>
      <optional>
        <ref name="indexlist"/>
      </optional>
      <optional>
        <ref name="glossarylist"/>
      </optional>
    </element>
  </define>
  
  <define name="toc">
    <element name="toc">
      <empty/>
    </element>
  </define>
  
  <define name="figurelist">
    <element name="figurelist">
      <empty/>
    </element>
  </define>
  
  <define name="tablelist">
    <element name="tablelist">
      <empty/>
    </element>
  </define>
  
  <define name="indexlist">
    <element name="indexlist">
      <empty/>
    </element>
  </define>
  
  <define name="glossarylist">
    <element name="glossarylist">
      <attribute name="href">
        <data type="string"/>
      </attribute>
    </element>
  </define>
  
  <define name="preface">
    <element name="preface">
      <attribute name="href">
        <data type="string"/>
      </attribute>
    </element>
  </define>
  
  <define name="part">
    <element name="part">
      <ref name="topicmeta"/>
      <oneOrMore>
        <ref name="chapter"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="chapter">
    <element name="chapter">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <ref name="topicmeta"/>
      <zeroOrMore>
        <choice>
          <ref name="topicref"/>
          <ref name="mapref"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="appendix">
    <element name="appendix">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <ref name="topicmeta"/>
      <zeroOrMore>
        <choice>
          <ref name="topicref"/>
          <ref name="mapref"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="backmatter.booklists">
    <element name="booklists"> <!-- Still named booklists in XML -->
      <oneOrMore>
        <choice>
          <ref name="glossarylist"/>
          <ref name="indexlist"/>
        </choice>
      </oneOrMore>
      <!-- Optionally allow other lists if they can co-exist -->
    </element>
  </define>
  
  <define name="backmatter">
    <element name="backmatter">
      <optional>
        <ref name="booklists"/>
      </optional>
      <zeroOrMore>
        <ref name="topicref"/>
      </zeroOrMore>
      <optional><ref name="reltable"/></optional>
    </element>
  </define>
  
  <!-- Import map elements needed by bookmap -->
  <define name="topicmeta">
    <element name="topicmeta">
      <ref name="navtitle"/>
      <zeroOrMore>
        <choice>
          <ref name="shortdesc"/>
          <ref name="audience"/>
          <ref name="category"/>
          <ref name="keywords"/>
          <ref name="prodinfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="navtitle">
    <element name="navtitle">
      <text/>
    </element>
  </define>
  
  <define name="topicref">
    <element name="topicref">
      <optional>
        <attribute name="href">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="format">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="toc">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="topicmeta"/>
      </optional>
      <zeroOrMore>
        <ref name="topicref"/>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="mapref">
    <element name="mapref">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="format">
          <value>ditamap</value>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="reltable">
    <element name="reltable">
      <optional>
        <ref name="relheader"/>
      </optional>
      <oneOrMore>
        <ref name="relrow"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="relheader">
    <element name="relheader">
      <oneOrMore>
        <ref name="relcolspec"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="relcolspec">
    <element name="relcolspec">
      <optional>
        <attribute name="type">
          <data type="string"/>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="relrow">
    <element name="relrow">
      <oneOrMore>
        <ref name="relcell"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="relcell">
    <element name="relcell">
      <zeroOrMore>
        <ref name="topicref"/>
      </zeroOrMore>
    </element>
  </define>
  
</grammar>