common/ryffineCommonElements.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <include href="ryffineCommonAttributes.rng"/>
    <include href="ryffineMetadata.rng"/>

  <!-- Title element -->
  <define name="title">
    <element name="title">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  
  <!-- Short description -->
  <define name="shortdesc">
    <element name="shortdesc">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  
  <!-- Paragraph element -->
  <define name="p">
    <element name="p">
      <mixed>
        <zeroOrMore>
          <choice>
            <ref name="common.inline"/>
            <ref name="common.block"/>
          </choice>
        </zeroOrMore>
      </mixed>
    </element>
  </define>

  <!-- Example -->
  <define name="example" combine="choice">
    <element name="example">
      <ref name="id-atts"/>
      <optional>
        <ref name="title"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="p"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="dl"/>
          <ref name="note"/>
          <ref name="fig"/>
          <ref name="table"/>
          <ref name="codeblock"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  
  <!-- Common block elements -->
  <define name="common.block">
    <choice>
      <ref name="ul"/>
      <ref name="ol"/>
      <ref name="note"/>
      <ref name="fig"/>
      <ref name="table"/>
      <ref name="dl"/>
      <ref name="codeblock"/>
    </choice>
  </define>
  
  <!-- Common inline elements -->
  <define name="common.inline">
    <choice>
      <ref name="xref"/>
      <ref name="common.inline.noxref"/>
    </choice>
  </define>
  
  <!-- Common inline elements excluding xref -->
  <define name="common.inline.noxref">
    <choice>
      <ref name="uicontrol"/>
      <ref name="filepath"/>
      <ref name="menucascade"/>
      <ref name="wintitle"/>
      <ref name="codeph"/>
      <ref name="varname"/>
      <ref name="b"/>
      <ref name="i"/>
      <ref name="cite"/>
      <ref name="term"/>
      <ref name="ph"/>
    </choice>
  </define>
  
  <!-- Lists -->
  <define name="ul">
    <element name="ul">
      <ref name="id-atts"/>
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="ol">
    <element name="ol">
      <ref name="id-atts"/>
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="li">
    <element name="li">
      <oneOrMore>
        <choice>
          <ref name="p"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="note"/>
          <!-- Other block elements allowed in li -->
          <!-- common.inline could be added if you want inline elements outside of a p,
              but typically paragraph text goes in a p -->
        </choice>
      </oneOrMore>
    </element>
  </define>
  
  <!-- Definition list -->
  <define name="dl">
    <element name="dl">
      <ref name="id-atts"/>
      <oneOrMore>
        <ref name="dlentry"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="dlentry">
    <element name="dlentry">
      <oneOrMore>
        <ref name="dt"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="dd"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="dt">
    <element name="dt">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  
  <define name="dd">
    <element name="dd">
      <mixed>
        <zeroOrMore>
          <choice>
            <ref name="common.inline"/>
            <ref name="p"/>
          </choice>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  
  <!-- Note element -->
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="type">
          <choice>
            <value>note</value>
            <value>caution</value>
            <value>warning</value>
            <value>tip</value>
            <value>important</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore> <!-- Ensures <note> has content, and it must be <p> -->
        <ref name="p"/>
      </oneOrMore>
    </element>
  </define>
  
  <!-- Figure element -->
  <define name="fig">
    <element name="fig">
      <ref name="id-atts"/>
      <optional>
        <ref name="title"/>
      </optional>
      <optional>
        <ref name="desc"/>
      </optional>
      <ref name="image"/>
    </element>
  </define>
  
  <define name="desc">
    <element name="desc">
      <!-- Allows <desc> to be empty, or contain one or more <p> elements. -->
      <!-- No direct mixed content. -->
      <zeroOrMore>
        <ref name="p"/>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="image">
    <element name="image">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <optional>
        <ref name="alt"/>
      </optional>
    </element>
  </define>
  
  <define name="alt">
    <element name="alt">
      <text/>
    </element>
  </define>
  
  <!-- Inline elements -->
  <define name="uicontrol">
    <element name="uicontrol">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  
  <define name="filepath">
    <element name="filepath">
      <text/>
    </element>
  </define>
  
  <define name="menucascade">
    <element name="menucascade">
      <oneOrMore>
        <ref name="uicontrol"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="wintitle">
    <element name="wintitle">
      <text/>
    </element>
  </define>
  
  <define name="codeph">
    <element name="codeph">
      <text/>
    </element>
  </define>
  
  <define name="codeblock">
    <element name="codeblock">
      <text/>
    </element>
  </define>
  
  <define name="varname">
    <element name="varname">
      <text/>
    </element>
  </define>
  
  <define name="b">
    <element name="b">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  
  <define name="i">
    <element name="i">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  
  <define name="cite">
    <element name="cite">
      <text/>
    </element>
  </define>
  
  <define name="term">
    <element name="term">
      <optional>
        <attribute name="keyref">
          <data type="string"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  
  <define name="ph">
    <element name="ph">
      <ref name="id-atts"/>
      <mixed>
        <zeroOrMore>
          <ref name="common.inline"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  
  <define name="xref">
    <element name="xref">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="type">
          <choice>
            <value>fig</value>
            <value>table</value>
            <value>li</value>
            <value>fn</value>
            <value>section</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="scope">
          <choice>
            <value>local</value>
            <value>external</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="format">
          <data type="string"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  
  <!-- Basic table structure -->
  <define name="table">
    <element name="table">
      <ref name="id-atts"/>
      <optional>
        <ref name="title"/>
      </optional>
      <optional>
        <ref name="desc"/>
      </optional>
      <ref name="tgroup"/>
    </element>
  </define>
  
  <define name="tgroup">
    <element name="tgroup">
      <attribute name="cols">
        <data type="positiveInteger"/>
      </attribute>
      <oneOrMore>
        <ref name="colspec"/>
      </oneOrMore>
      <optional>
        <ref name="thead"/>
      </optional>
      <ref name="tbody"/>
    </element>
  </define>
  
  <define name="colspec">
    <element name="colspec">
      <attribute name="colname">
        <data type="string"/>
      </attribute>
      <attribute name="colnum">
        <data type="positiveInteger"/>
      </attribute>
      <optional>
        <attribute name="colwidth">
          <data type="string"/>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="thead">
    <element name="thead">
      <oneOrMore>
        <ref name="row"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="tbody">
    <element name="tbody">
      <oneOrMore>
        <ref name="row"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="row">
    <element name="row">
      <oneOrMore>
        <ref name="entry"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="entry">
    <element name="entry">
      <optional>
        <attribute name="morerows">
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="namest">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="nameend">
          <data type="string"/>
        </attribute>
      </optional>
      <mixed>
        <zeroOrMore>
          <choice>
            <ref name="common.inline"/>
            <ref name="p"/>
            <ref name="ul"/>
            <ref name="ol"/>
          </choice>
        </zeroOrMore>
      </mixed>
    </element>
  </define>

  <!-- Simple table structure -->
<define name="simpletable">
  <element name="simpletable">
    <ref name="id-atts"/>
    <optional>
      <attribute name="frame">
        <choice>
          <value>all</value>
          <value>topbot</value>
          <value>top</value>
          <value>bottom</value>
          <value>sides</value>
          <value>none</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="relcolwidth">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="keycol">
        <data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <ref name="sthead"/>
    </optional>
    <oneOrMore>
      <ref name="strow"/>
    </oneOrMore>
  </element>
</define>

<define name="sthead">
  <element name="sthead">
    <oneOrMore>
      <ref name="stentry"/>
    </oneOrMore>
  </element>
</define>

<define name="strow">
  <element name="strow">
    <oneOrMore>
      <ref name="stentry"/>
    </oneOrMore>
  </element>
</define>

<define name="stentry">
  <element name="stentry">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>

<!-- Section element (used by multiple topic types) -->
<define name="section">
  <element name="section">
    <ref name="id-atts"/>
    <ref name="title"/>
    <oneOrMore>
      <choice>
        <ref name="p"/>
        <ref name="ul"/>
        <ref name="ol"/>
        <ref name="dl"/>
        <ref name="note"/>
        <ref name="fig"/>
        <ref name="table"/>
        <ref name="codeblock"/>
      </choice>
    </oneOrMore>
  </element>
</define>

<!-- Steps elements (used by task and troubleshooting) -->
<define name="steps">
  <element name="steps">
    <oneOrMore>
      <choice>
        <ref name="step"/>
        <ref name="stepsection"/>
      </choice>
    </oneOrMore>
  </element>
</define>

<define name="steps-unordered">
  <element name="steps-unordered">
    <oneOrMore>
      <choice>
        <ref name="step"/>
        <ref name="stepsection"/>
      </choice>
    </oneOrMore>
  </element>
</define>

<define name="steps-informal">
  <element name="steps-informal">
    <oneOrMore>
      <ref name="p"/>
    </oneOrMore>
  </element>
</define>

<define name="stepsection">
  <element name="stepsection">
    <oneOrMore>
      <ref name="step"/> <!-- Must contain one or more <step> elements -->
    </oneOrMore>
  </element>
</define>

<define name="step">
  <element name="step">
    <ref name="cmd"/>  <!-- <cmd> is now the first element -->
    <optional>       <!-- Optional <note> can follow <cmd> -->
      <ref name="note"/>
    </optional>
    <optional>
      <ref name="info"/>
    </optional>
    <optional>
      <choice>
        <ref name="substeps"/>
        <ref name="choices"/>
        <ref name="choicetable"/>
      </choice>
    </optional>
    <optional>
      <ref name="stepxmp"/>
    </optional>
    <optional>
      <ref name="stepresult"/>
    </optional>
    <optional>
      <ref name="steptroubleshooting"/>
    </optional>
  </element>
</define>

<define name="cmd">
  <element name="cmd">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/> <!-- Added p here -->
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>

<define name="info">
  <element name="info">
    <oneOrMore>
      <choice>
        <ref name="p"/>
        <ref name="ul"/>
        <ref name="ol"/>
        <ref name="note"/>
      </choice>
    </oneOrMore>
  </element>
</define>

<define name="substeps">
  <element name="substeps">
    <oneOrMore>
      <ref name="substep"/>
    </oneOrMore>
  </element>
</define>

<define name="substep">
  <element name="substep">
    <ref name="cmd"/>
    <optional>
      <ref name="info"/>
    </optional>
    <optional>
      <ref name="stepresult"/>
    </optional>
  </element>
</define>

<define name="choices">
  <element name="choices">
    <oneOrMore>
      <ref name="choice"/>
    </oneOrMore>
  </element>
</define>

<define name="choice">
  <element name="choice">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/>
          <ref name="ul"/>
          <ref name="ol"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>

<define name="choicetable">
  <element name="choicetable">
    <ref name="chhead"/> <!-- <chhead> is now mandatory -->
    <oneOrMore>
      <ref name="chrow"/>
    </oneOrMore>
  </element>
</define>

<define name="chhead">
  <element name="chhead">
    <ref name="choptionhd"/>
    <ref name="chdeschd"/>
  </element>
</define>

<define name="choptionhd">
  <element name="choptionhd">
    <mixed>
      <zeroOrMore>
        <ref name="common.inline"/>
      </zeroOrMore>
    </mixed>
  </element>
</define>

<define name="chdeschd">
  <element name="chdeschd">
    <mixed>
      <zeroOrMore>
        <ref name="common.inline"/>
      </zeroOrMore>
    </mixed>
  </element>
</define>

<define name="chrow">
  <element name="chrow">
    <ref name="choption"/>
    <ref name="chdesc"/>
  </element>
</define>

<define name="choption">
  <element name="choption">
    <mixed>
      <zeroOrMore>
        <ref name="common.inline"/>
      </zeroOrMore>
    </mixed>
  </element>
</define>

<define name="chdesc">
  <element name="chdesc">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>

<define name="stepxmp">
  <element name="stepxmp">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>

<define name="stepresult">
  <element name="stepresult">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>

<define name="steptroubleshooting">
  <element name="steptroubleshooting">
    <oneOrMore>
      <ref name="p"/>
    </oneOrMore>
  </element>
</define>
  
</grammar>