consolidated/ryffineTask.rng

<?xml version='1.0' encoding='UTF-8'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- Consolidated RNG generated from ryffineTask.rng and 3 dependencies -->
  <!-- Source files: ryffineCommonAttributes.rng, ryffineCommonElements.rng, ryffineMetadata.rng, ryffineTask.rng -->
  <start>
    <ref name="task"/>
  </start>
  <define name="alt">
    <element name="alt">
      <text/>
    </element>
  </define>
  <define name="audience">
    <element name="audience">
      <optional>
        <attribute name="type">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="job">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="experiencelevel">
          <data type="string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <text/>
    </element>
  </define>
  <define name="b">
    <element name="b">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="brand">
    <element name="brand">
      <text/>
    </element>
  </define>
  <define name="category">
    <element name="category">
      <text/>
    </element>
  </define>
  <define name="chdesc">
  <element name="chdesc">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>
  <define name="chdeschd">
  <element name="chdeschd">
    <mixed>
      <zeroOrMore>
        <ref name="common.inline"/>
      </zeroOrMore>
    </mixed>
  </element>
</define>
  <define name="chhead">
  <element name="chhead">
    <ref name="choptionhd"/>
    <ref name="chdeschd"/>
  </element>
</define>
  <define name="choice">
  <element name="choice">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/>
          <ref name="ul"/>
          <ref name="ol"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>
  <define name="choices">
  <element name="choices">
    <oneOrMore>
      <ref name="choice"/>
    </oneOrMore>
  </element>
</define>
  <define name="choicetable">
  <element name="choicetable">
    <ref name="chhead"/> <!-- <chhead> is now mandatory -->
    <oneOrMore>
      <ref name="chrow"/>
    </oneOrMore>
  </element>
</define>
  <define name="choption">
  <element name="choption">
    <mixed>
      <zeroOrMore>
        <ref name="common.inline"/>
      </zeroOrMore>
    </mixed>
  </element>
</define>
  <define name="choptionhd">
  <element name="choptionhd">
    <mixed>
      <zeroOrMore>
        <ref name="common.inline"/>
      </zeroOrMore>
    </mixed>
  </element>
</define>
  <define name="chrow">
  <element name="chrow">
    <ref name="choption"/>
    <ref name="chdesc"/>
  </element>
</define>
  <define name="cite">
    <element name="cite">
      <text/>
    </element>
  </define>
  <define name="cmd">
  <element name="cmd">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/> <!-- Added p here -->
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>
  <define name="codeblock">
    <element name="codeblock">
      <text/>
    </element>
  </define>
  <define name="codeph">
    <element name="codeph">
      <text/>
    </element>
  </define>
  <define name="colspec">
    <element name="colspec">
      <attribute name="colname">
        <data type="string"/>
      </attribute>
      <attribute name="colnum">
        <data type="positiveInteger"/>
      </attribute>
      <optional>
        <attribute name="colwidth">
          <data type="string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="common.block">
    <choice>
      <ref name="ul"/>
      <ref name="ol"/>
      <ref name="note"/>
      <ref name="fig"/>
      <ref name="table"/>
      <ref name="dl"/>
      <ref name="codeblock"/>
    </choice>
  </define>
  <define name="common.inline">
    <choice>
      <ref name="xref"/>
      <ref name="common.inline.noxref"/>
    </choice>
  </define>
  <define name="common.inline.noxref">
    <choice>
      <ref name="uicontrol"/>
      <ref name="filepath"/>
      <ref name="menucascade"/>
      <ref name="wintitle"/>
      <ref name="codeph"/>
      <ref name="varname"/>
      <ref name="b"/>
      <ref name="i"/>
      <ref name="cite"/>
      <ref name="term"/>
      <ref name="ph"/>
    </choice>
  </define>
  <define name="component">
    <element name="component">
      <text/>
    </element>
  </define>
  <define name="context">
    <element name="context">
      <oneOrMore>
        <choice>
          <ref name="p"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="note"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="created">
    <element name="created">
      <attribute name="date">
        <data type="string"/>
      </attribute>
    </element>
  </define>
  <define name="critdates">
    <element name="critdates">
      <optional>
        <ref name="created"/>
      </optional>
      <optional>
        <ref name="revised"/>
      </optional>
    </element>
  </define>
  <define name="dd">
    <element name="dd">
      <mixed>
        <zeroOrMore>
          <choice>
            <ref name="common.inline"/>
            <ref name="p"/>
          </choice>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="desc">
    <element name="desc">
      <!-- Allows <desc> to be empty, or contain one or more <p> elements. -->
      <!-- No direct mixed content. -->
      <zeroOrMore>
        <ref name="p"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="dl">
    <element name="dl">
      <ref name="id-atts"/>
      <oneOrMore>
        <ref name="dlentry"/>
      </oneOrMore>
    </element>
  </define>
  <define name="dlentry">
    <element name="dlentry">
      <oneOrMore>
        <ref name="dt"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="dd"/>
      </oneOrMore>
    </element>
  </define>
  <define name="dt">
    <element name="dt">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="entry">
    <element name="entry">
      <optional>
        <attribute name="morerows">
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="namest">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="nameend">
          <data type="string"/>
        </attribute>
      </optional>
      <mixed>
        <zeroOrMore>
          <choice>
            <ref name="common.inline"/>
            <ref name="p"/>
            <ref name="ul"/>
            <ref name="ol"/>
          </choice>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="example">
    <element name="example">
      <ref name="id-atts"/>
      <optional>
        <ref name="title"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="p"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="dl"/>
          <ref name="note"/>
          <ref name="fig"/>
          <ref name="table"/>
          <ref name="codeblock"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="featnum">
    <element name="featnum">
      <text/>
    </element>
  </define>
  <define name="fig">
    <element name="fig">
      <ref name="id-atts"/>
      <optional>
        <ref name="title"/>
      </optional>
      <optional>
        <ref name="desc"/>
      </optional>
      <ref name="image"/>
    </element>
  </define>
  <define name="filepath">
    <element name="filepath">
      <text/>
    </element>
  </define>
  <define name="i">
    <element name="i">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="id-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
  <define name="image">
    <element name="image">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <optional>
        <ref name="alt"/>
      </optional>
    </element>
  </define>
  <define name="index-see">
    <element name="index-see">
      <text/>
    </element>
  </define>
  <define name="index-see-also">
    <element name="index-see-also">
      <text/>
    </element>
  </define>
  <define name="indexterm">
    <element name="indexterm">
      <mixed>
        <zeroOrMore>
          <choice>
            <ref name="indexterm"/>
            <ref name="index-see"/>
            <ref name="index-see-also"/>
          </choice>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="info">
  <element name="info">
    <oneOrMore>
      <choice>
        <ref name="p"/>
        <ref name="ul"/>
        <ref name="ol"/>
        <ref name="note"/>
      </choice>
    </oneOrMore>
  </element>
</define>
  <define name="keyword">
    <element name="keyword">
      <text/>
    </element>
  </define>
  <define name="keywords">
    <element name="keywords">
      <oneOrMore>
        <choice>
          <ref name="keyword"/>
          <ref name="indexterm"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="lang-atts">
    <optional>
      <attribute name="xml:lang">
        <data type="language"/>
      </attribute>
    </optional>
  </define>
  <define name="li">
    <element name="li">
      <oneOrMore>
        <choice>
          <ref name="p"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="note"/>
          <!-- Other block elements allowed in li -->
          <!-- common.inline could be added if you want inline elements outside of a p,
              but typically paragraph text goes in a p -->
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="menucascade">
    <element name="menucascade">
      <oneOrMore>
        <ref name="uicontrol"/>
      </oneOrMore>
    </element>
  </define>
  <define name="metadata">
    <element name="metadata">
      <zeroOrMore>
        <choice>
          <ref name="audience"/>
          <ref name="category"/>
          <ref name="keywords"/>
          <ref name="prodinfo"/>
          <ref name="othermeta"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="type">
          <choice>
            <value>note</value>
            <value>caution</value>
            <value>warning</value>
            <value>tip</value>
            <value>important</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore> <!-- Ensures <note> has content, and it must be <p> -->
        <ref name="p"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ol">
    <element name="ol">
      <ref name="id-atts"/>
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="othermeta">
    <element name="othermeta">
      <attribute name="name">
        <data type="string"/>
      </attribute>
      <attribute name="content">
        <data type="string"/>
      </attribute>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <mixed>
        <zeroOrMore>
          <choice>
            <ref name="common.inline"/>
            <ref name="common.block"/>
          </choice>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="permissions">
    <element name="permissions">
      <attribute name="view">
        <data type="string"/>
      </attribute>
    </element>
  </define>
  <define name="ph">
    <element name="ph">
      <ref name="id-atts"/>
      <mixed>
        <zeroOrMore>
          <ref name="common.inline"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="platform">
    <element name="platform">
      <text/>
    </element>
  </define>
  <define name="postreq">
    <element name="postreq">
      <oneOrMore>
        <choice>
          <ref name="p"/>
          <ref name="ul"/>
          <ref name="ol"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="prereq">
    <element name="prereq">
      <ref name="ul"/>  <!-- Now only <ul> is allowed -->
    </element>
  </define>
  <define name="prodinfo">
    <element name="prodinfo">
      <ref name="prodname"/>
      <ref name="vrmlist"/>
      <optional>
        <ref name="brand"/>
      </optional>
      <optional>
        <ref name="component"/>
      </optional>
      <optional>
        <ref name="featnum"/>
      </optional>
      <optional>
        <ref name="platform"/>
      </optional>
      <optional>
        <ref name="prognum"/>
      </optional>
      <optional>
        <ref name="series"/>
      </optional>
    </element>
  </define>
  <define name="prodname">
    <element name="prodname">
      <text/>
    </element>
  </define>
  <define name="prognum">
    <element name="prognum">
      <text/>
    </element>
  </define>
  <define name="prolog">
    <element name="prolog">
      <optional>
        <ref name="author"/>
      </optional>
      <optional>
        <ref name="source"/>
      </optional>
      <optional>
        <ref name="critdates"/>
      </optional>
      <optional>
        <ref name="permissions"/>
      </optional>
      <optional>
        <ref name="metadata"/>
      </optional>
      <optional>
        <ref name="resourceid"/>
      </optional>
    </element>
  </define>
  <define name="resourceid">
    <element name="resourceid">
      <attribute name="id">
        <data type="string"/>
      </attribute>
    </element>
  </define>
  <define name="result">
    <element name="result">
      <oneOrMore>
        <choice>
          <ref name="p"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="fig"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="revised">
    <element name="revised">
      <attribute name="modified">
        <data type="string"/>
      </attribute>
    </element>
  </define>
  <define name="row">
    <element name="row">
      <oneOrMore>
        <ref name="entry"/>
      </oneOrMore>
    </element>
  </define>
  <define name="series">
    <element name="series">
      <text/>
    </element>
  </define>
  <define name="shortdesc">
    <element name="shortdesc">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="source">
    <element name="source">
      <text/>
    </element>
  </define>
  <define name="step">
  <element name="step">
    <ref name="cmd"/>  <!-- <cmd> is now the first element -->
    <optional>       <!-- Optional <note> can follow <cmd> -->
      <ref name="note"/>
    </optional>
    <optional>
      <ref name="info"/>
    </optional>
    <optional>
      <choice>
        <ref name="substeps"/>
        <ref name="choices"/>
        <ref name="choicetable"/>
      </choice>
    </optional>
    <optional>
      <ref name="stepxmp"/>
    </optional>
    <optional>
      <ref name="stepresult"/>
    </optional>
    <optional>
      <ref name="steptroubleshooting"/>
    </optional>
  </element>
</define>
  <define name="stepresult">
  <element name="stepresult">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>
  <define name="steps">
  <element name="steps">
    <oneOrMore>
      <choice>
        <ref name="step"/>
        <ref name="stepsection"/>
      </choice>
    </oneOrMore>
  </element>
</define>
  <define name="steps-informal">
  <element name="steps-informal">
    <oneOrMore>
      <ref name="p"/>
    </oneOrMore>
  </element>
</define>
  <define name="steps-unordered">
  <element name="steps-unordered">
    <oneOrMore>
      <choice>
        <ref name="step"/>
        <ref name="stepsection"/>
      </choice>
    </oneOrMore>
  </element>
</define>
  <define name="stepsection">
  <element name="stepsection">
    <oneOrMore>
      <ref name="step"/> <!-- Must contain one or more <step> elements -->
    </oneOrMore>
  </element>
</define>
  <define name="steptroubleshooting">
  <element name="steptroubleshooting">
    <oneOrMore>
      <ref name="p"/>
    </oneOrMore>
  </element>
</define>
  <define name="stepxmp">
  <element name="stepxmp">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="common.inline"/>
          <ref name="p"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </element>
</define>
  <define name="substep">
  <element name="substep">
    <ref name="cmd"/>
    <optional>
      <ref name="info"/>
    </optional>
    <optional>
      <ref name="stepresult"/>
    </optional>
  </element>
</define>
  <define name="substeps">
  <element name="substeps">
    <oneOrMore>
      <ref name="substep"/>
    </oneOrMore>
  </element>
</define>
  <define name="table">
    <element name="table">
      <ref name="id-atts"/>
      <optional>
        <ref name="title"/>
      </optional>
      <optional>
        <ref name="desc"/>
      </optional>
      <ref name="tgroup"/>
    </element>
  </define>
  <define name="task">
    <element name="task">
      <ref name="id-atts"/>
      <ref name="lang-atts"/>
      <ref name="title"/>
      <ref name="shortdesc"/>
      <ref name="prolog"/>
      <ref name="taskbody"/>
    </element>
  </define>
  <define name="taskbody">
    <element name="taskbody">
      <optional>
        <ref name="prereq"/>
      </optional>
      <optional>
        <ref name="context"/>
      </optional>
      <choice>
        <ref name="steps"/>
        <ref name="steps-unordered"/>
        <ref name="steps-informal"/>
      </choice>
      <optional>
        <ref name="result"/>
      </optional>
      <optional>
        <ref name="example"/>
      </optional>
      <optional>
        <ref name="postreq"/>
      </optional>
    </element>
  </define>
  <define name="tbody">
    <element name="tbody">
      <oneOrMore>
        <ref name="row"/>
      </oneOrMore>
    </element>
  </define>
  <define name="term">
    <element name="term">
      <optional>
        <attribute name="keyref">
          <data type="string"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="tgroup">
    <element name="tgroup">
      <attribute name="cols">
        <data type="positiveInteger"/>
      </attribute>
      <oneOrMore>
        <ref name="colspec"/>
      </oneOrMore>
      <optional>
        <ref name="thead"/>
      </optional>
      <ref name="tbody"/>
    </element>
  </define>
  <define name="thead">
    <element name="thead">
      <oneOrMore>
        <ref name="row"/>
      </oneOrMore>
    </element>
  </define>
  <define name="title">
    <element name="title">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="uicontrol">
    <element name="uicontrol">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="ul">
    <element name="ul">
      <ref name="id-atts"/>
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="varname">
    <element name="varname">
      <text/>
    </element>
  </define>
  <define name="vrm">
    <element name="vrm">
      <attribute name="version">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="release">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="modification">
          <data type="string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="vrmlist">
    <element name="vrmlist">
      <oneOrMore>
        <ref name="vrm"/>
      </oneOrMore>
    </element>
  </define>
  <define name="wintitle">
    <element name="wintitle">
      <text/>
    </element>
  </define>
  <define name="xref">
    <element name="xref">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="type">
          <choice>
            <value>fig</value>
            <value>table</value>
            <value>li</value>
            <value>fn</value>
            <value>section</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="scope">
          <choice>
            <value>local</value>
            <value>external</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="format">
          <data type="string"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
</grammar>
