consolidated/ryffineMap.rng

<?xml version='1.0' encoding='UTF-8'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- Consolidated RNG generated from ryffineMap.rng and 3 dependencies -->
  <!-- Source files: ryffineCommonAttributes.rng, ryffineCommonElements.rng, ryffineMetadata.rng, ryffineMap.rng -->
  <start>
    <ref name="map"/>
  </start>
  <define name="audience">
    <element name="audience">
      <optional>
        <attribute name="type">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="job">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="experiencelevel">
          <data type="string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="b">
    <element name="b">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="brand">
    <element name="brand">
      <text/>
    </element>
  </define>
  <define name="category">
    <element name="category">
      <text/>
    </element>
  </define>
  <define name="cite">
    <element name="cite">
      <text/>
    </element>
  </define>
  <define name="codeph">
    <element name="codeph">
      <text/>
    </element>
  </define>
  <define name="common.inline">
    <choice>
      <ref name="xref"/>
      <ref name="common.inline.noxref"/>
    </choice>
  </define>
  <define name="common.inline.noxref">
    <choice>
      <ref name="uicontrol"/>
      <ref name="filepath"/>
      <ref name="menucascade"/>
      <ref name="wintitle"/>
      <ref name="codeph"/>
      <ref name="varname"/>
      <ref name="b"/>
      <ref name="i"/>
      <ref name="cite"/>
      <ref name="term"/>
      <ref name="ph"/>
    </choice>
  </define>
  <define name="component">
    <element name="component">
      <text/>
    </element>
  </define>
  <define name="featnum">
    <element name="featnum">
      <text/>
    </element>
  </define>
  <define name="filepath">
    <element name="filepath">
      <text/>
    </element>
  </define>
  <define name="glossref">
    <element name="glossref">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="format">
          <data type="string"/> <!-- e.g., "dita" or specific glossary format -->
        </attribute>
      </optional>
      <!-- Potentially other attributes similar to topicref if needed -->
    </element>
  </define>
  <define name="i">
    <element name="i">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="id-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
  <define name="index-see">
    <element name="index-see">
      <text/>
    </element>
  </define>
  <define name="index-see-also">
    <element name="index-see-also">
      <text/>
    </element>
  </define>
  <define name="indexterm">
    <element name="indexterm">
      <mixed>
        <zeroOrMore>
          <choice>
            <ref name="indexterm"/>
            <ref name="index-see"/>
            <ref name="index-see-also"/>
          </choice>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="keyword">
    <element name="keyword">
      <text/>
    </element>
  </define>
  <define name="keywords">
    <element name="keywords">
      <oneOrMore>
        <choice>
          <ref name="keyword"/>
          <ref name="indexterm"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="lang-atts">
    <optional>
      <attribute name="xml:lang">
        <data type="language"/>
      </attribute>
    </optional>
  </define>
  <define name="map">
    <element name="map">
      <ref name="id-atts"/>
      <ref name="lang-atts"/>
      <optional>
        <attribute name="title">
          <data type="string"/>
        </attribute>
      </optional>
      <ref name="title"/>
      <optional>
        <ref name="topicmeta"/>
      </optional>
      <!-- R4: Enforce one initial topicref -->
      <ref name="topicref"/>
      <!-- R5: Then allow zeroOrMore of the choices -->
      <zeroOrMore>
        <choice>
          <ref name="topicref"/>
          <ref name="topicgroup"/>
          <ref name="mapref"/>
          <!-- Add glossref here once defined for R9 -->
          <ref name="glossref"/>
        </choice>
      </zeroOrMore>
      <optional>
        <ref name="reltable"/>
      </optional>
    </element>
  </define>
  <define name="mapref">
    <element name="mapref">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="format">
          <value>ditamap</value>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="menucascade">
    <element name="menucascade">
      <oneOrMore>
        <ref name="uicontrol"/>
      </oneOrMore>
    </element>
  </define>
  <define name="navtitle">
    <element name="navtitle">
      <text/>
    </element>
  </define>
  <define name="ph">
    <element name="ph">
      <ref name="id-atts"/>
      <mixed>
        <zeroOrMore>
          <ref name="common.inline"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="platform">
    <element name="platform">
      <text/>
    </element>
  </define>
  <define name="prodinfo">
    <element name="prodinfo">
      <ref name="prodname"/>
      <ref name="vrmlist"/>
      <optional>
        <ref name="brand"/>
      </optional>
      <optional>
        <ref name="component"/>
      </optional>
      <optional>
        <ref name="featnum"/>
      </optional>
      <optional>
        <ref name="platform"/>
      </optional>
      <optional>
        <ref name="prognum"/>
      </optional>
      <optional>
        <ref name="series"/>
      </optional>
    </element>
  </define>
  <define name="prodname">
    <element name="prodname">
      <text/>
    </element>
  </define>
  <define name="prognum">
    <element name="prognum">
      <text/>
    </element>
  </define>
  <define name="relcell">
    <element name="relcell">
      <zeroOrMore>
        <choice>
          <ref name="topicref"/>
          <ref name="topicgroup"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="relcolspec">
    <element name="relcolspec">
      <optional>
        <attribute name="type">
          <data type="string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="relheader">
    <element name="relheader">
      <oneOrMore>
        <ref name="relcolspec"/>
      </oneOrMore>
    </element>
  </define>
  <define name="relrow">
    <element name="relrow">
      <oneOrMore>
        <ref name="relcell"/>
      </oneOrMore>
    </element>
  </define>
  <define name="reltable">
    <element name="reltable">
      <optional>
        <ref name="relheader"/>
      </optional>
      <oneOrMore>
        <ref name="relrow"/>
      </oneOrMore>
    </element>
  </define>
  <define name="series">
    <element name="series">
      <text/>
    </element>
  </define>
  <define name="shortdesc">
    <element name="shortdesc">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="term">
    <element name="term">
      <optional>
        <attribute name="keyref">
          <data type="string"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="title">
    <element name="title">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="topicgroup">
    <element name="topicgroup">
      <!-- Make collection-type mandatory -->
      <attribute name="collection-type">
        <choice>
          <value>family</value>
          <value>sequence</value>
        </choice>
      </attribute>
      <optional>
        <ref name="topicmeta"/>
      </optional>
      <oneOrMore>
        <ref name="topicref"/>
      </oneOrMore>
    </element>
  </define>
  <define name="topicmeta">
    <element name="topicmeta">
      <zeroOrMore>
        <choice>
          <ref name="navtitle"/>
          <ref name="shortdesc"/>
          <ref name="audience"/>
          <ref name="category"/>
          <ref name="keywords"/>
          <ref name="prodinfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="topicref">
    <element name="topicref">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <!-- <optional> -->
        <attribute name="format">
          <data type="string"/>
        </attribute>
      <!-- </optional> -->
      <optional>
        <attribute name="type">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="scope">
          <choice>
            <value>local</value>
            <value>external</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="processing-role">
          <choice>
            <value>normal</value>
            <value>resource-only</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="toc">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="print">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <attribute name="collection-type">
        <choice>
          <value>family</value>
          <value>sequence</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="linking">
          <choice>
            <value>targetonly</value>
            <value>sourceonly</value>
            <value>normal</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="chunk">
          <value>to-content</value> <!-- Only this value is allowed -->
        </attribute>
      </optional>
      <optional>
        <attribute name="copy-to">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <ref name="topicmeta"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="topicref"/>
          <ref name="topicgroup"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="uicontrol">
    <element name="uicontrol">
      <mixed>
        <zeroOrMore>
          <ref name="common.inline.noxref"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="varname">
    <element name="varname">
      <text/>
    </element>
  </define>
  <define name="vrm">
    <element name="vrm">
      <attribute name="version">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="release">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="modification">
          <data type="string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="vrmlist">
    <element name="vrmlist">
      <oneOrMore>
        <ref name="vrm"/>
      </oneOrMore>
    </element>
  </define>
  <define name="wintitle">
    <element name="wintitle">
      <text/>
    </element>
  </define>
  <define name="xref">
    <element name="xref">
      <attribute name="href">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="type">
          <choice>
            <value>fig</value>
            <value>table</value>
            <value>li</value>
            <value>fn</value>
            <value>section</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="scope">
          <choice>
            <value>local</value>
            <value>external</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="format">
          <data type="string"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
</grammar>
